.nfts {
    &-list {
        padding: 26px;
        display: flex;
        justify-content: space-between;
        li {
            cursor: pointer;
            border-radius: 30px;
            background-color: #1D1E22;
            width: 383px;
            min-height: 550px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
        .info {
            padding: 16px;
            h1 {
                font-size: 24px;
                font-weight: 600;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                margin-top: 8px;
            }
            .pricing {
                margin-top: 28px;
                border-radius: 20px;
                display: flex;
                justify-content: space-between;
                padding: 12px;
                h1 {
                    color: #999999;
                    font-size: 16px;
                }
            }
        }
    }
}