@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;                                                
    font-size: 14px;
    font-weight: 400;
    background-color: #101010;
    color: #fff;
}


/* Default Styles */
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

.green {
    background-color: #52FFE0;
}
.gray {
    background-color: #2C2D31;
}
.black {
    background-color: #101010;
}
.gray-white {
    background-color: #F8F8F8;
}
.green-button {
    background-color: #52FFE0;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .8px;
    cursor: pointer;
}

.space {
    margin-top: 48px;
}
.upper {
    text-transform: uppercase;
}

.wrapper {
    max-width: 1480px;
    margin: auto;
}

.title {
    font-size: 30px;
    text-transform: uppercase;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 180px;
    p {
        margin-left: 12px;
        font-size: 42px;
    }
}